body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;

}
#map {
  width: 100%;
  height: calc(100vh - 350px);
  
}

.map-overlay {
  background: rgba(255,255,255,0.9);
  border: 1px solid rgba(0,0,0,0.3);
  padding: 10px;
  width: 250px;
  border-radius: 4px;
  text-align: center;
}

#museum-info img {    
  width: 100%;
  border-radius: 3px;
  margin-bottom: 8px;
}

/* navigation bar */
.topnav {
  background-color: #008624;
  overflow: hidden;
}

/* links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

/* The following code is based on GEOG 328 Lab 2 content */
/* change link color on hover */
.topnav a:hover {
  background-color: #0ec23e;
  color: #ffffff;
}

/* highlight the current page */
.topnav a.active {
  background-color: #6a8f73;
  color: white;
}

/* hide the icon that opens the topnav on small screens */
.topnav .icon {
  display: none;
}

/* generic page content wrapper */
.page-content {
  padding: 16px;
  font-size: 18px;
  max-width: 1000px;
  margin: 0 auto;
}
.page-content h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 36px;
}

.page-content p {
  text-align: center;
  margin-bottom: 20px;
  font-size: 18px;
}

/* when the screen is less than 800px wide */
@media screen and (max-width: 800px) {
  /* hide all links except the active one */
  .topnav a:not(.active) {
    display: none;
  }

  /* menu icon */
  .topnav a.icon {
    float: right;
    display: block;
  }

  /* show the links vertically */
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* table format */
table.center {
  border-collapse: collapse;
  margin: 30px auto;
}

table.center th,
table.center td {
  border: 1px solid #cccccc;
  padding: 10px 18px;
  text-align: left;
}

/* Slideshow */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: 30px auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 12px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 3px;
}

.next { right: 0; }

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.text {
  color: #f2f2f2;
  font-size: 16px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
}

.numbertext {
  color: #f2f2f2;
  font-size: 14px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
